    <!-- Search -->
    <header>
      <br><br><br><br>
        <div class="container">
            <div class="row">  
                <% if (!checkinput) { %>
                      <div class="col-lg-8 col-lg-offset-2">
                          <h4>Please have a keyword.</h4>
                      </div>
                <% } else { %> 
                      <% if (searchdata.length==0) { %> 
                        <div class="col-lg-8 col-lg-offset-2">
                          <h4>No result.</h4>
                      </div>
                      <% } else { %> 
                            <div align="center">
                                <ul id="pagination-demo" class="pagination-sm"></ul>
                            </div>
                            <% for(var i=0; i<searchdata.length; i++) {
                                undefined
                                if (typeof searchdata[i].thumbnail == 'undefined') {
                                    thumbnail = "https://cdn1.commercialtrucktrader.com/vlatest/media/image-coming-soon-512.png"
                                } else {
                                    thumbnail = "https://cdn1.commercialtrucktrader.com/vLatest/media/" + searchdata[i].thumbnail;
                                }
                                %>
                                  <div class="col-lg-9 col-lg-offset-1">
                                            <hr> 
                                      <div class="col-lg-4 col-lg-offset-2">
                                        <a href="">
                                        <a href="/detail?id=<%= searchdata[i].adId %>">
                                          <img src=<%- thumbnail%> class="img-thumbnail " alt="Empty Image" width="150" height="100"> 
                                        </a>
                                      </div>
                                      <div class="col-lg-6">
                                          <h3><%- searchdata[i].make%> <%- searchdata[i].model%> </h3> 
                                          <p><b>ID:</b>  <%- searchdata[i].adId%></p>
                                          <p></p><b>Price:</b> <%- searchdata[i].price%></p>
                                          <p></p><b>Year:</b> <%- searchdata[i].year%></p>
                                          
                                      </div>
                                </div>
                          <% } %>
                      <% } %> 
                  <% } %> 
            </div>
            

        </div>
        </div>
    <br><br><br><br><br><br><br>
    </header>